/* Least specific style*/
header {
    background-color: #d9d9d9;
    position: sticky;
    top: 0;
    width: 100%;
}

main {
    flex:1;
    max-width: 1400px;
    margin: auto;
}

.shopping-cart-main {
 /*    margin: auto; */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.shipping-conditions {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

}
.shipping-conditions p {
    margin-right: 20px;
}
.primary-header {
    display: flex;
    border: 1px solid darkorange;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.primary-header nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
}
nav a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.account-shopping {
    display: flex;
    gap: 40px;
}

.account-shopping img {
    transform: scale(1.5);

}

.footer-text {
    display: flex;
    justify-content: space-around;
    
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.conteiner-footer {
    background-color: #d9d9d9;
    padding: 20px;
}

/*homepage*/

.home-page {
    display: flex;
    justify-content: space-between;
    /* width: 100vw; */
    margin-top: 50px;
    background-color: #f8f8f8;
}
.app-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 10px;
    /* min-width: 0; */
  /*   width: 33%; */

}

.app-info p {
    display: flex;
    line-height: 19px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 300px;

}

h2 {
font-family: 'inter';
font-size: 32px;
font-weight: bolder;
}
.ilustrasjons-bilde {
    /* width: 33vw; */
    /* height: 100%; */
}

.ilustrasjons-bilde img {
    width: 300px;
    height: 400px;
    max-width: 100%;
    
}

h1{
    font-size: 42px;
    font-weight: bolder;
}

.rainydays-info p {
    width: 278px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
}

.rainydays-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    /* width: 33%; */
}
body {
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 60px;
}


.homepage-features {
    background-color: #f8f8f8;
}
.featured-jackets1 img {
    width: 200px;
    height: 248px;
}

.featured-jackets1,
.featured-jackets2,
.featured-jackets3 {
    margin: 65px;

}

.featured-jackets1 p {
    display: flex;
    max-width: 200px;
}

.featured-jackets2 img {
    width: 200px;
    height: 248px;
}

.featured-jackets2 p {
    display: flex;
    max-width: 200px;
}


.featured-jackets3 img {
    width: 200px;
    height: 248px;

}

.featured-jackets3 p {
    display: flex;
    width: 200px;

}

.homepage-features {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}

button {
    background-color: #E56E00;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;

}

button a {
    text-decoration: none;
    color: #000;
}


/*contact page*/
/*productlist*/

.jackets {
    display: flex;
    flex-wrap: wrap;
    margin: 80px;
}

.jackets img {
    display: flex;
}

.jacket-item {
    display: flex;
    margin-top: 50px;

}
.jacket-item img{
    display: flex;
    width: 200px;
    justify-content: center;
}

.jacket-text {
    display: flex;
    width: 200px;
    justify-content: center;
    flex-direction: column;
}
.jacket-text p {
    font-size: 14px;
    line-height: 17px;
    height: 5px;
}

.produkt-konteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* productdescription */


.product-information {
    display: flex;
    margin-top: 100px;
    margin-bottom: 300px;
    justify-content: space-evenly;
    background-color: #f8f8f8;
}

.product-jacket {
    display: flex;
    align-items: center;
}

.product-jacket-description {
    display: flex;
    flex-direction: column;
}


.product-jacket,
.product-jacket-description{
    display: flex;
}
.product-jacket-description p{
    display: flex;
    flex-wrap: wrap;
    width: 300px
}

.product-jacket img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 400px;
    height: 400px;
}



/*support*/
/*cart page*/
.body-cart{
    background-color: #f8f8f8;
}
.shopping-cart {
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}


.shopping-cart-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 831px;
    height: 446px;
    margin-top: 20px;

}

.shopping-cart-box p{
    display: flex;
    flex-direction: column;
    
}

.shopping-cart-content {
    display: flex;
    /* position: absolute; */
    align-items: center;
    align-self: center;
    border: 1px solid #000; left: 227px;
    width: 450px;
    top: 129px;

}
.shopping-cart-content p {
    font-family: 'inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    
}
.shopping-cart-content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.shopping-cart-content img{
    display: flex;
    justify-content: center;
    height: 180px;
    width: 140px;
}
.shopping-cart-shipping {
    display: flex;
    width: 831px;
    height: 100px;
    margin-top: 20px;
  /*   left: 60px; */
  /*   top: 724px; */
}
.shopping-cart-total {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    /* margin-left: auto; */
    width: 345px;
    height: 446px;
    border: 1px solid;
    

}
.h3{
    /* position: absolute; */
    width: 59px;
    height: 29px;
    left: 1003px;
    top: 368px;


    font-family: 'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.shopping-cart-checkout p {
    font-size: 14px;
}

.shopping-cart-box,
.shopping-cart-content,
.shopping-cart-shipping,
.shopping-cart-total,
.shopping-cart-checkout {
    background-color: #fff;
    justify-content: center; 
}
.shopping-cart-shipping {
    display: flex;
/*     background-color: #fff; */
    border: 1px solid #000000;
    align-items: center;
}

.shopping-cart-box-fix {
    display: flex;
    flex-direction: column;
}

/*about us*/
/*media queries*/
